
/* Stile per il pulsante di logout */
.header-right .logout-button {
    padding: 4px 2px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.2s ease;
}

.header-right .logout-button svg {
    vertical-align: middle;
    margin-right: 5px;
}

.header-right .logout-button:hover {
    color: #000;
    transform: scale(1.05);
}

.header-right .logout-button:active {
    transform: scale(1);
}