/* Stile per la navbar */
/* Navbar fissa tra header e footer */
.navbar {
    width: 200px; /* Larghezza della navbar */
    background-color: #333;
    color: white;
    padding: 10px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Aggiungi uno scroll se il contenuto supera l'altezza */
    user-select: none;
}
.navbar .section{

}

.navbar .section-label{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bdc3c7;
    transition: color 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.navbar .section-label svg{
    margin-left: 3px;
    margin-right: 5px;
    vertical-align: middle;
    fill: currentColor;
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
/* Contenuto della sezione */
.navbar .section-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.navbar .section-content.open {
    max-height: 200px; /* Altezza massima per il contenuto visibile */
    opacity: 1;
}

.navbar .section-content.closed {
    max-height: 0;
    opacity: 0;
}

.navbar a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #575757; /* Colore di sfondo al passaggio del mouse */
}