/* Contenitore delle azioni */
.record-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.record-actions button svg{
    width: 20px;
    height: 20px;
    fill: currentColor;
    vertical-align: middle;
    margin: 5px;
}

/* Pulsanti di azione */
.record-actions button {
    font-size: 0.9rem;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease,
                scale 0.2s ease;
}

/* Pulsante di modifica */
.record-actions button:first-child {
    background-color: #ffc107; /* Giallo */
}

.record-actions button:first-child:hover {
    background-color: #e0a800;
    scale: 1.05;
}

/* Pulsante di eliminazione */
.record-actions button:last-child {
    background-color: #dc3545; /* Rosso */
}

.record-actions button:last-child:hover {
    background-color: #c82333;
    scale: 1.05;
}