html,body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    height: 100%;
}

h1 {
    color: #333;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.centered-box{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

a:hover {
    background-color: #0056b3;
}

.centered-box form input {
    width: 88%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.centered-box form button {
    background: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 5px 2px 0;
}

.centered-box form button:hover {
    background-color: #0056b3;
}

.error {
    margin: 0 auto;
    padding: 10px;
    color: red;
    font-size: 0.9em;
}